<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: rgb(247,247,247);height: 80px;">
  <div class="container">
        <img src="assets/img/logo.png" >
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/']">Αρχική</a></li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
        </li>
      </ul><span class="navbar-text actions"> <a class="login" href="#">Σύνδεση</a><a class="btn btn-light action-button" role="button" href="#">Εγγραφή</a></span></div>
  </div>
</nav>
