<div class="product-list">
  <div class="container-fluid" style="padding: 0 8.333333%;">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products  | async">
        <td>
          <label>
            <input [(ngModel)]="product.title" class="form-control" type="text" name="{{product.title}}" />
          </label>
        </td>
        <td>
          <label>
            <input [(ngModel)]="product.price" class="form-control" type="text" name="{{product.price}}" />
          </label>
        </td>
        <td>
          <button class="btn btn-default"  type="button" (click)="deleteProduct(product)">Delete</button>
        </td>
      </tr>
      <tr>
        <td>
          <label for="newAttributeName"></label><input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />
        </td>
        <td>
          <label for="newAttributePrice"></label><input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
        </td>
        <td>
          <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
 </div>
