<div class="container">
  <div class="row product-list">

    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>
    <div app-product class="col-sm-6 col-md-4 product-item"></div>

  </div>
</div>
