<div class="container-fluid" style="padding: 0 8.333333%; text-align: center">
  <div><h1 style="margin-top: 50px;">Ιστορικό Παραγγελιών</h1></div>
  <hr style="margin-top: 5px; margin-bottom: 0px;">
  <br>
  <div class="row">
    <div class="col-md-8" style="margin: auto; width: 60%;">
      <ng-container *ngIf="orders.length">
        <ng-container *ngFor="let order of orders">
        <div class="panel">
          <div class="panel-body" style="padding: 10px;">
            <ng-container *ngFor="let item of order.orderProducts ">
                                      <li class="list-group-item history_items">
                                          <span class="badge" style="background-color: #555; float: right;color: white;border-radius: 10px;">{{item.product.price  | currency: ' '}}</span>
                                          <b>{{ item.quantity }}x</b> {{ item.product.title }}
                                      </li>
            </ng-container>
          </div>
          <div class="panel-footer history_total">
            <b>Σύνολο: {{order.price_total | currency: ' '}} €</b>
          </div>
        </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!orders.lenght">
                    <div class="panel panel-default" style="padding: 10px;">
                                            <img src="https://i.giphy.com/media/xUOxeRSgzGd7rbAqWs/giphy.webp"><br><br>
                                            Ακόμη δεν παρήγγειλες; Τι περιμένεις!<br><br>
                    <button routerLink="/" type="button" class="btn btn-add">Επιστροφή στον Κατάλογο</button>

                     </div>
      </ng-container>

    </div>
  </div>
</div>
