<div class="cart">
<!--  <div><h1 style="margin-bottom: 0;">Παραγγελία</h1></div>-->
<!--  <hr style="margin-top: 5px; margin-bottom: 0px;">-->
  <div>
    <h4>
      <br>
      <span class="text-muted" style="margin-bottom: 0">Καλάθι </span>
      <span style="margin-bottom: 3px;" class="badge badge-secondary badge-pill">{{itemCount}}</span>
    </h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group" style="margin-top: -3px;">


        <ng-container *ngFor="let item of (cart | async).items">
                <li class="list-group-item d-flex justify-content-between lh-condensed" style="border-radius: 0">
                    <div class="col-sm-10" >
                      <h5><b>{{item.product.title}}</b></h5>
                      <div class="text-muted" style="padding-top: 8px">{{item.product.price * item.quantity | currency: ' '}} €</div>
                    </div>
                    <div class="col-sm-2" style="padding-left: 0px">
                      <a (click)="removeProduct(item.product)" class="cartItemClose">&times;</a>
                      <b>({{item.quantity}})</b>
                    </div>
                </li>
        </ng-container>

        <li class="list-group-item d-flex justify-content-between" style="flex-wrap: wrap;">
          <span style="margin: auto;">Σύνολο: <strong>{{(cart | async).priceTotal | currency: ' '}} €</strong></span>

          <ng-container *ngIf="getCurrentUser(); else notSignedIn">
            <button style="margin: auto;" [attr.disabled]="itemCount === 0 ? true : null" type="button" class="btn btn-add btn-responsive" routerLink="/checkout">Συνέχεια</button>
          </ng-container>

          <ng-template #notSignedIn>
            <button style="margin: auto;" [attr.disabled]="true" type="button" class="btn btn-add btn-responsive" routerLink="/checkout">Συνέχεια</button>
            <div style="text-align: center; color: red;">
              <hr>
              <strong>Γιά να συνεχίσεις θα πρέπει πρώτα να συνδεθείς!</strong>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>
