<div class="cart">
<!--  <div><h1 style="margin-bottom: 0;">Παραγγελία</h1></div>-->
<!--  <hr style="margin-top: 5px; margin-bottom: 0px;">-->
  <div>
    <h4>
      <br>
      <span class="text-muted" style="margin-bottom: 0">Καλάθι </span>
      <span style="margin-bottom: 3px;" class="badge badge-secondary badge-pill">{{itemCount}}</span>
    </h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">


        <ng-container *ngFor="let item of (cart | async).items">
                <li class="list-group-item d-flex justify-content-between lh-condensed" style="border-radius: 0">
                    <div class="col-sm-10" >
                      <h5><b>{{item.product.title}}</b></h5>
                      <div class="text-muted" style="padding-top: 8px">{{item.product.price * item.qty}}€</div>
                    </div>
                    <div class="col-sm-2" style="padding-left: 0px">
                      <a (click)="removeProduct(item.product)" class="cartItemClose">&times;</a>
                      <b>({{item.qty}})</b>
                    </div>
                </li>
        </ng-container>

        <li class="list-group-item d-flex justify-content-between">
          <span style="margin: auto;">Total: <strong>{{(cart | async).priceTotal | currency: ' '}} €</strong></span>
          <button [attr.disabled]="itemCount === 0 ? true : null" type="button" class="btn btn-add btn-responsive" routerLink="/checkout">Συνέχεια</button>
        </li>
      </ul>
    </div>
  </div>
</div>
