<div class="cart">
<!--  <div><h1 style="margin-bottom: 0;">Παραγγελία</h1></div>-->
<!--  <hr style="margin-top: 5px; margin-bottom: 0px;">-->
  <div>
    <h4>
      <br>
      <span class="text-muted" style="margin-bottom: 0">Καλάθι </span>
      <span style="margin-bottom: 3px;" class="badge badge-secondary badge-pill">{{itemCount}}</span>
    </h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">


        <ng-container *ngFor="let item of (cart | async).items">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h5><b>{{item.product.title}} ({{item.qty}})</b></h5>
                    <span class="text-muted">{{item.product.price * item.qty}}€</span>
                  </div>
                </li>
        </ng-container>

        <li class="list-group-item d-flex justify-content-between">
          <span>Σύνολο: </span>
          <strong>{{(cart | async).priceTotal | currency: ' '}} €</strong>
        </li>
      </ul>
      <a href="/menu" tabindex="1" type="button" class="btn button-color-checkout">Επιστροφή στον Κατάλογο</a>
    </div>
  </div>
  <br>
</div>
