.cart {
  margin-top: 30px;
}

.cartItemClose{
  margin-top: -3px;
  text-decoration: none;
  font-size: 22px;
  color: #555555;
  display: flex;
  transition: 0.5s;
}

.cartItemClose:hover {
  text-decoration: none;
}
h5 {
  text-overflow: ellipsis;
  font-weight: 800;
  word-break: break-word;
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp:1 ;
  -webkit-box-orient: vertical;
}

.btn-responsive {
  white-space: normal !important;
  word-wrap: break-word;
}

.btn-add {
  border-radius: 2px;
  background: #56c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 20px;
}

.btn-add:hover, .btn-add:active {
  color: #ffffff !important;
  background-color: #3baeae !important;
}
