<footer>
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 footer-navigation">
      <img style="width: 120px;" src="assets/img/logo.png">
      <p class="links"><a routerLink="/">Αρχική</a><strong> · </strong><a routerLink="/">Εταιρεία</a><strong> · </strong><a routerLink="/">Όροι Χρήσης</a><strong> · </strong><a routerLink="/">Επικοινωνία</a></p>
      <p class="company-name">KBShop © 2019 </p>
    </div>
    <div class="col-sm-6 col-md-4 footer-contacts">
      <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
        <p><span class="new-line-span">Πατρών 10</span> Πάτρα, Ελλάδα</p>
      </div>
      <div><i class="fa fa-phone footer-contacts-icon"></i>
        <p class="footer-center-info email text-left" style="margin: 0"> 2610-123456</p>
      </div>
      <div><i class="fa fa-envelope footer-contacts-icon"></i>
        <p style="margin: 0"> <a routerLink="/" target="_blank">info@kbshop.gr</a></p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4 footer-about">
      <h4>ΩΡΑΡΙΟ ΚΑΤΑΣΤΗΜΑΤΟΣ</h4>
      <p>Δευτέρα: 10:00 - 18:00</p>
      <p>Τρίτη: 10:00 - 18:00</p>
      <p>Τετάρτη: 10:00 - 18:00</p>
      <p>Πέμπτη: 10:00 - 18:00</p>
      <p>Παρασκευή: 10:00 - 18:00</p>
      <p>Σάββατο: 09:00 - 15:00</p>
      <div class="social-links social-icons"><a routerLink="/"><i class="fa fa-facebook"></i></a><a routerLink="/"><i class="fa fa-twitter"></i></a><a routerLink="/"><i class="fa fa-linkedin"></i></a><a routerLink="/"><i class="fa fa-github"></i></a></div>
    </div>
  </div>
  </div>
</footer>
