  <div class="product-container">
    <div class="row">
      <div class="col-md-12"><a class="product-image" href="#"><img [src]="product.image"></a></div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2><a href="#">{{product.title}}</a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!--            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
        <hr>
        <div class="row">
          <div class="col-6"><button class="btn btn-add" type="button" (click)="addProductToCart(product)">Add to Basket</button></div>
          <div class="col-6">
            <p class="product-price">{{product.price | currency: ' '}} €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
