.order-list {
  overflow: hidden;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-top: 50px;
}

.btn-post {
  border-radius: 2px;
  background: #10b65b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 20px;
}

.btn-post:hover, .btn-post:active {
  color: #ffffff !important;
  background-color: #10904b !important;
}

.btn-remove {
  border-radius: 2px;
  background: #d44e45;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 20px;
}

.btn-remove:hover, .btn-remove:active {
  color: #ffffff !important;
  background-color: #c6484c !important;
}

.disable{
  cursor: not-allowed;
}

